*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font1: @import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
    --font2: @import url('https://fonts.googleapis.com/css2?family=Square+Peg&family=Tapestry&display=swap');
    --font3:@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Square+Peg&family=Tapestry&display=swap');
}

html{
    scroll-behavior: smooth;
}

body{
    /*background-color: #ba83ca;*/
    background: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #87a5ea, #73aff0, #5fb8f2, #39c3f3, #00cdee, #00d6e3, #2cded3);
    height: auto;
    width:auto ;
    
}

    /*------------------------------------------Empieza Header-----------------------------------------------*/

header{
    background-position: center;
    height: 120px;
    width:100%;
    background-color: rgb(172, 72, 172);
    padding: 15px;
    background-size: cover;
    /*background-attachment: fixed;*/
    /* position: fixed;*/
    border: 2px solid black;

} 

.logo{
    float: left;
    background-size: cover;

}

.nav1{
    float: right;
}

.nav1 ul{
    list-style: none;
}

.nav1 ul li{
    display: inline-block;
    
}

.nav1 a{
    text-decoration: none;
    color:  rgb(15, 3, 3);
    font-size:larger;
    font-family:var(--font2);
    font-style: italic;
    font-weight:bolder ;
    letter-spacing: 5px;

}

    /*------------------------------------------Termina Header------------------------------------------------*/




    /*------------------------------------------Empieza Section-------------------------------------------------*/

/*h2{
    height: 50px;
    width: auto;
}

.titulo2{
    height: 50px;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 700;
    color: black;
    text-align: center;

}*/

/*.sec {
    margin-top: 320px;
    height: 600px;
    width: 100%;
    background-color: violet;
    border: double #00cdee ;
}*/

    /*------------------------------------------Termina Section-------------------------------------------------------------*/





    /*------------------------------------------Empieza Home----------------------------------------------------------*/

.contenedorhome{
   /* margin-top: 120px;
    width: auto;
    height: 550px;
    background-color: blueviolet;
    display:grid;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr;
    /*grid-area: "titulo"
                "home1 home2";
    gap: 5px 5px;
    border: 2px solid #333;*/
        height: 70%;
        background-color: rgb(247, 243, 189);
        border: 2px solid #000;
        width: 70%;
        margin: auto;
        padding: 120px;
        border-radius: 60px;
        display: grid;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        grid-template-columns:3fr 1fr;
        grid-template-areas: "home1 home2";
                    
                    
}

.itemhome{
    /*min-width: 300px;
    min-height: 300px;
    border: 1px solid #333;
    transition: all 0.75s;
    /*filter: grayscale(100%);
    align-items: center;*/
    padding: 20px;
    min-height: 600px;
    min-width: 200px;
    background-color: aqua;
    border: 2px solid rgb(231, 67, 163);
    border-radius: 20%;
}

/*.titulo{
    justify-items: center;
    grid-row: 1/2;
    /*grid-area: titulo;
    background-color: rgb(243, 169, 59);
    background-size: cover;
    background-position: center;


}*/

.home1{
grid-template-areas: home1;
    background-color: aqua;
    background-image: url(img/foto\ gise.jpg);
    background-size: cover;
    background-position: center;
}

.home2{
    grid-template-areas: home2;
    background-color: rgb(247, 243, 189);
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    border:rgb(247, 243, 189) ;
}

.parrafohome{
    font-size: large;
    font-family: var(--font1);
    font-weight: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-align: justify;

}

    /*---------------------------------------------Termina Home-----------------------------------------------------*/



    /*----------------------------------------------Empieza Boxes--------------------------------------------------*/

    h1{ padding: 20px;
        color: rgb(68, 11, 11);
        text-align: center;
        font-weight: 900;
        font-size: 50px;
        text-transform: uppercase;
        font-family: var(--font3);
        margin-bottom: 20px;
        text-shadow: 15px 5px 10px #88583a;
    }

    .contenedorbox{
                    height: 80%;
                    background-color: rgb(247, 243, 189);
                    border: 2px solid #000;
                    width: 80%;
                    margin: auto;
                    padding: 120px;
                    border-radius: 60px;
                    display: grid;
                    grid-column-gap: 5px;
                    grid-row-gap: 5px;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(3, 200px);
                    grid-template-areas: "box1 box2 box3 box3"
                                        "box1 box4 box5 box6"
                                        "box7 box4 box8 box8";
                                    }
                
    .itembox{
                    padding: 20px;
                    min-height: 200px;
                    min-width: 200px;
                    background-color: aqua;
                    border: 2px solid rgb(231, 67, 163);
                    
                }

        .item:hover{
                    transform: scale(1);
                    transition: 0.7s;
                    box-shadow: 5px 5px 10px 1px #000;
        /*            box-shadow: eje-x eje-y blur/desenfoque spread/propagacion #color;*/
                }
                
    .box1{
                    grid-template-areas: "box1";
                    background-color: coral;
                    background-image: url(img/bandeja\ desayuno.jpg);
                    background-size: cover;
                    background-position: center;
                }

    .box2{
        grid-template-areas: "box2";
                    background-color: cadetblue;
                    background-image: url(img/img10.jpg);
                    background-size: cover;
                }
                .box3{
                    grid-template-areas: "box3";
                    background-color: fuchsia;
                    background-image: url(img/img_wide1.jpg);
                    background-size: cover;
                }
                .box4{
                    grid-template-areas: "box4";
                    background-color: forestgreen;
                    background-image: url(img/img_vertical2.jpg);
                    background-size: cover;
                    background-position: center;
                }
                .box5{
                    grid-template-areas: "box5";
                    background-color: firebrick;
                    background-image: url(img/img3.jpeg);
                    background-size: cover;
                }
                .box6{
                    grid-template-areas: "box6";
                    background-color: dodgerblue;
                    background-image: url(img/img6.jpeg);
                    background-size: cover;
                }
                .box7{
                    grid-template-areas: "box7";
                    background-color: deeppink;
                    background-image: url(img/img9.jpg);
                    background-size: cover;
                }
                .box8{
                    grid-template-areas: "box8";
                    background-color: darkviolet;
                    background-image: url(img/img_wide2.jpg);
                    background-size: cover;
                    background-position: center;
                }
                
                
                


    /*------------------------------------------Termina Boxes------------------------------------------------------*/



    /*------------------------------------------Empieza Mesa Dulce-------------------------------------------------*/
    /*------------------------------------------Termina Mesa Dulce-------------------------------------------------*/




    /*----------------------------------------------Empieza Tortas----------------------------------------------------*/
    /*------------------------------------------Termina Tortas--------------------------------------------------------*/


    /*------------------------------------Empieza Tortas Tematicas-----------------------------------------------------*/
    /*------------------------------------Termina Tortas Tematicas-----------------------------------------------------*/

    /*------------------------------------------Empieza Contacto----------------------------------------------------------*/
    /*------------------------------------------Termina Contacto----------------------------------------------------------*/

    /*------------------------------------------Empieza Footer------------------------------------------------------------*/

footer{
    min-height: 15px;
    background-color: rgb(172, 72, 172);
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    
}


footer p{
    font-size: 30px;
    font-family: var(--font1);
    font-variant:normal;
    margin-bottom: 5px;
    text-shadow: 5px 5px 5px rgb(248, 151, 151) ;
    text-transform: capitalize;


}

footer a{
    color: rgba(54, 218, 196, 0.705);
    font-size: 50px;
    letter-spacing: 50px;
    
}
            /*------------------------------------------Termina Footer-----------------------------------------------------*/