@font-face{
    font-family: Rubik Bubbles;
    src: url(fuente/RubikBubbles-Regular.ttf);
    font-style: italic;
    font-weight: 900;
}

@font-face{
    font-family:Dancing Script ;
    src: url(fuente/DancingScript-Regular.ttf);
    font-style: italic;
    font-weight: 500;
}

@font-face{
    font-family: Oleo Script;
    src: url(fuente/OleoScript-Regular.ttf);
    font-style: italic;
    font-weight: 400;
}

@keyframes animabox{
    75% {top:0%;right: inherit; left: 10%; background: rgb(166, 209, 238); }

}

    
:root{
    --font1: Rubik Bubbles;
    --font2: Dancing script;
    --font3: Oleo Script;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background-color: #ba83ca;*/
    background: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #87a5ea, #73aff0, #5fb8f2, #39c3f3, #00cdee, #00d6e3, #2cded3);
    height: auto;
    width:auto ;
    
}

    /*------------------------------------------Empieza Header-----------------------------------------------*/

header{
    /*background-position: center;*/
    height: 120px;
    width:100%;
    background-color: rgb(172, 72, 172);
    padding: 15px;
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    border: 2px solid black;

} 

.logo{
    float: left;
    background-size: cover;

}

.nav1{
    float:right;
    margin-top: 2%;
    background-size: cover;
    
    

}

.nav1 ul{
    list-style: none;
    position:relative;
}

.nav1 ul li{
    display: inline-block;
    
    
}

.nav1 a{
    text-decoration: none;
    color:  rgb(15, 3, 3);
    font-size:larger;
    font-family:var(--font2);
    font-style: italic;
    font-weight:bolder ;
    letter-spacing: 5px;
    

}

h1{ padding: 20px;
    color: rgb(68, 11, 11);
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
    font-family: var(--font1);
    font-style: italic;
    margin-bottom: 20px;
    text-shadow: 15px 5px 10px #88583a;
}

    /*------------------------------------------Termina Header------------------------------------------------*/




/*------------------------------------------Empieza Home----------------------------------------------------------*/

.h1home{

    }
.contenedorhome{
    height: 70%;
    background-color: rgb(247, 243, 189);
    border: 2px solid #000;
    width: 150vh;
    margin: auto;
    padding: 120px;
    border-radius: 60px;
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns:3fr 1fr;
    grid-template-areas: "home1 home2";
                    
                    
}

.itemhome{
    /*min-width: 300px;
    min-height: 300px;
    border: 1px solid #333;
    transition: all 0.75s;
    /*filter: grayscale(100%);
    align-items: center;*/
    padding: 20px;
    min-height: 600px;
    min-width: 200px;
    background-color: aqua;
    border: 2px solid rgb(231, 67, 163);
    border-radius: 20%;
}


.home1{
grid-template-areas: home1;
    background-color: aqua;
    background-image: url(img/foto\ gise.jpg);
    background-size: cover;
    background-position: center;
    
}

.home2{
    grid-template-areas: home2;
    background-color: rgb(247, 243, 189);
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    border:rgb(247, 243, 189) ;
}

.parrafohome{
    font-size: large;
    font-family: var(--font3);
    font-weight: 300px;
    font-style: italic;
    text-align: justify;

}

    /*---------------------------------------------Termina Home-----------------------------------------------------*/



    
    

/*----------------------------------------------Empieza Boxes--------------------------------------------------*/

.h1box{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-spacing: 10px;
        letter-spacing: 5px;

}

.contenedorbox{
            height: 80%;
            background-color: rgb(247, 243, 189);
            border: 2px solid #000;
            width: 150vh;
            margin: auto;
            padding: 120px;
            border-radius: 60px;
            display: grid;
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 200px);
            grid-template-areas: "box1 box2 box3 box3"
                                "box1 box4 box5 box6"
                                "box7 box4 box8 box8";
                                
}
                
.itembox{
        padding: 20px;
        min-height: 200px;
        min-width: 5vh;
        background-color: aqua;
        border: 2px solid rgb(231, 67, 163);
                    
    }

.itembox:hover{
            
            filter:brightness(1.3);
            transform: scale(1.3);
            transition: 0.7s;
            box-shadow: 5px 5px  10px  rgb(46, 166, 202);
        /*            box-shadow: eje-x eje-y blur/desenfoque spread/propagacion #color;*/
        animation-name: animabox;
        animation-duration: 1s;
        animation-iteration-count:2;
        animation-timing-function:linear;
        animation-direction: alternate-reverse;
        animation-fill-mode: both;
        /*animation-play-state: paused;*/
    }
                
.box1{
        /*grid-template-areas: "box1";*/
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: coral;
        background-image: url(img/box/bandeja\ desayuno.jpg);
        background-size: cover;
        background-position: center;
    }

.box2{
        grid-template-areas: "box2";
        background-color: cadetblue;
        background-image: url(img/box/box\ pascua.jpg);
        background-size: cover;
        background-position: center;
    }

.box3{
        /*grid-template-areas: "box3";*/
        grid-column-start: 3;
        grid-column-end: 5;
        background-color: fuchsia;
        background-image: url(img/box/box\ dulce.jpg);
        background-size: cover;
        background-position: center;
    }

.box4{
        grid-template-areas: "box4";
        background-color: forestgreen;
        background-image: url(img/box/box\ romantico.jpg);
        background-size: cover;
        background-position: center;
    }

    .box5{
        grid-template-areas:"box5";
        background-color: firebrick;
        background-image: url(img/box/box\ deco\ galle.jpg);
        background-size: cover;
        background-position: center;
    }

    .box6{
        /*grid-template-areas:"box6";*/
        grid-row-start: 2;
        grid-row-end: 4;
        background-color: dodgerblue;
        background-image: url(img/box/box\ dia\ d\ l\ madre.jpg);
        background-size: cover;
        background-position: center;
    }

    .box7{
        grid-template-areas: "box7";
        background-color: deeppink;
        background-image: url(img/box/box\ desayuno3.jpg);
        background-size: cover;
        background-position: center;
    }

    .box8{
        grid-template-areas: "box8";
        background-color: darkviolet;
        background-image: url(img/box/box\ amor\ 1.jpg);
        background-size: cover;
        background-position: center;
        }
                
.parrafobox{
            font-family: var(--font2);
            font-size:40px;
            font-weight: 900px;
            font-style: italic;
            font:bolder;
            letter-spacing: 5px;
            word-spacing: 5px;
            text-align: center;
            color: darkmagenta;
            text-decoration: solid black
        }       
                


    /*------------------------------------------Termina Boxes------------------------------------------------------*/



    /*------------------------------------------Empieza Mesa Dulce-------------------------------------------------*/
.h1MD{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-spacing: 10px;
        letter-spacing: 5px;

}

.contenedorMD{
            height: 80%;
            background-color: rgb(247, 243, 189);
            border: 2px solid #000;
            width: 150vh;
            margin: auto;
            padding: 120px;
            border-radius: 60px;
            display: grid;
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 200px);
            grid-template-areas: "box1 box2 box3 box3"
                                "box1 box4 box5 box6"
                                "box7 box4 box8 box8";
}
                
.itemMD{
        padding: 20px;
        min-height: 200px;
        min-width: 5vh;
        background-color: aqua;
        border: 2px solid rgb(231, 67, 163);
                    
    }

    .itemMD:hover{
            
    /* filter:grayscale(1.3);*/
        filter: contrast(50%);
        transform: scale(1.3);
        transition: 0.7s;
        box-shadow: 5px 5px  10px  rgb(46, 166, 202);
    }
                
.MD1{
        /*grid-template-areas: "box1";*/
        grid-row-start: 2;
        grid-row-end: 5;
        background-color: coral;
        background-image: url(img/MD/galles\ tematica\ trfms.jpg);
        background-size:cover;
        background-position: center;
    }

.MD2{
        /*grid-template-areas: "box2";*/
        grid-column-start: 1;
        grid-column-end: 5;
        background-color: cadetblue;
        background-image: url(img/MD/minibudin.jpg);
        background-size:cover;
        background-position: center;
        border:2px solid rgb(231, 67, 163); 
    }

.MD3{
        /*grid-template-areas: "box3";*/
        grid-column-start: 3;
        grid-column-end: 5;
        background-color: fuchsia;
        background-image: url(img/MD/mesa\ dulce1.jpg);
        background-size: cover;
        background-position:center 250px ;
    }

.MD4{
        grid-template-areas: "box4";
        grid-column-start:3;
        grid-column-end:5 ;
        background-color: forestgreen;
        background-image: url(img/MD/mesa1.jpg);
        background-size: cover;
        background-position: center;
    }

.MD5{
        grid-template-areas:"box5";
        background-color: firebrick;
        background-image: url(img/MD/torta\ tematica\ spider.jpg);
        background-size: cover;
        background-position: center;
    }

.MD6{
        /*grid-template-areas:"box6";*/
        grid-row-start: 2;
        grid-row-end: 4;
        background-color: dodgerblue;
        background-image: url(img/MD/torta\ tematica\ bb\ shark.jpg);
        background-size: cover;
        background-position:40%;
    }

.MD7{
        grid-template-areas: "box7";
        background-color: deeppink;
        background-image: url(img/MD/muffins\ cumple.jpg);
        background-size: cover;
        background-position: center;
    }

.MD8{
        grid-template-areas: "box8";
        background-color: darkviolet;
        background-image: url(img/MD/mesa2.jpg);
        background-size: cover;
        background-position: center;
        }
                
.parrafoMD{
            font-family: var(--font2);
            font-size:40px;
            font-weight: 900px;
            font-style: italic;
            font:bolder;
            letter-spacing: 5px;
            word-spacing: 5px;
            text-align: center;
            color: darkmagenta;
            text-decoration: solid black
        }       
                

    /*------------------------------------------Termina Mesa Dulce-------------------------------------------------*/




    /*----------------------------------------------Empieza Tortas----------------------------------------------------*/

.h1torta{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-spacing: 10px;
        letter-spacing: 5px;

}

.contenedortorta{
            height: 80%;
            background-color: rgb(247, 243, 189);
            border: 2px solid #000;
            width: 150vh;
            margin: auto;
            padding: 120px;
            border-radius: 60px;
            display: grid;
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 200px);
            grid-template-areas: "box1 box2 box3 box3"
                                "box1 box4 box5 box6"
                                "box7 box4 box8 box8";
}
                
.itemtorta{
        padding: 20px;
        min-height: 200px;
        min-width: 5vh;
        background-color: aqua;
        border: 2px solid rgb(231, 67, 163);
                    
    }

    .itemtorta:hover{
            
            filter:grayscale(0.5);
            transform: scale(1.3);
            transition: 0.7s;
            box-shadow: 5px 5px  10px  rgb(46, 166, 202);
        }
                
.torta1{
        /*grid-template-areas: "box1";*/
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: coral;
        background-image: url(img/tortas/torta\ oreo.jpg);
        background-size:cover;
        background-position: center;
    }

.torta2{
        /*grid-template-areas: "box2";*/
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: cadetblue;
        background-image: url(img/tortas/torta\ brownie.jpg);
        background-size:cover;
        background-position: center;
        border:2px solid rgb(231, 67, 163); 
    }

.torta3{
        /*grid-template-areas: "box3";*/
        grid-column-start: 3;
        grid-column-end: 5;
        background-color: fuchsia;
        background-image: url(img/tortas/cheese\ frroj.jpg);
        background-size: cover;
        background-position:center 250px ;
    }

.torta4{
        grid-template-areas: "box4";
        grid-column-start:3;
        grid-column-end:5 ;
        background-color: forestgreen;
        background-image: url(img/tortas/torta\ lemon.jpg);
        background-size: cover;
        background-position: center;
    }

.torta5{
        grid-template-areas:"box5";
        background-color: firebrick;
        background-image: url(img/tortas/mini\ cake\ choco.jpg);
        background-size: cover;
        background-position: center;
    }

.torta6{
        /*grid-template-areas:"box6";*/
        grid-row-start: 2;
        grid-row-end: 4;
        background-color: dodgerblue;
        background-image: url(img/tortas/frola.jpg);
        background-size: cover;
        background-position:40%;
    }

.torta7{
        grid-template-areas: "box7";
        grid-column-start:3;
        grid-column-end:5 ;
        background-color: deeppink;
        background-image: url(img/tortas/cheese\ ddl.jpg);
        background-size: cover;
        background-position: center;
    }

.torta8{
        grid-template-areas: "box8";
        grid-column-start: 1;
        grid-column-end: 5;
        background-color: darkviolet;
        background-image: url(img/tortas/marquise1.jpg);
        background-size: cover;
        background-position: center;
        }
                
.parrafotorta{
            font-family: var(--font2);
            font-size:40px;
            font-weight: 900px;
            font-style: italic;
            font:bolder;
            letter-spacing: 5px;
            word-spacing: 5px;
            text-align: center;
            color: darkmagenta;
            text-decoration: solid black
        }       
                

    /*------------------------------------------Termina Tortas--------------------------------------------------------*/


    /*------------------------------------------Empieza Contacto----------------------------------------------------------*/

.h1contacto{
        text-align:center;
        color: rgb(106, 82, 128);
        font-size: 40px;
        font-weight: 900px;
        font-family: var(--font1);
        font-variant:normal;
        margin-bottom: 5px;
        text-shadow: 5px 5px 5px rgb(248, 151, 151) ;
        text-transform: capitalize;
    }

fieldset{
        padding: 30px;
        margin: auto;
        background-color: darkgray;
        background-image:url(img/contactoimg/torta\ marquis.jpg);
        border-radius: 10px;
        border-color: coral; 
        height: 550px;
        width: 450px;
        text-align:justify;
        line-height:16px ;
        font-size: 16px;
        font-style: italic;
        text-transform: uppercase;
        color: rgb(193, 29, 226);
        background-position: center;
        }

.etiquetacontacto{
        border-radius: 10px;
        border-color: red;
        }

.submit{
        background-color: rgb(216, 58, 216);
        }

.reset{
        background-color: rgb(243, 240, 79);
        }



    /*------------------------------------------Termina Contacto----------------------------------------------------------*/

    /*------------------------------------------Empieza Footer------------------------------------------------------------*/

footer{
    min-height: 15px;
    background-color: rgb(172, 72, 172);
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    
}


footer p{
    font-size: 30px;
    font-family: var(--font2);
    font-variant:normal;
    margin-bottom: 5px;
    text-shadow: 5px 5px 5px rgb(248, 151, 151) ;
    text-transform: capitalize;
    


}

footer a{
    color: rgba(54, 218, 196, 0.705);
    font-size: 50px;
    letter-spacing: 50px;
    
}
            /*------------------------------------------Termina Footer-----------------------------------------------------*/